body {
  margin: 0;
  font-family: omyu_pretty, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnGroup button {
  padding: 3px;
  margin: 5px 5px;
}

.red {
  background-color: rgb(241, 159, 159);
}

.green {
  background-color: rgb(131, 211, 131);
}
p {
  margin: 0px 0px 0px 0px;
  line-height: 120%;
}
